.element {
  /* navigation link/active */

  box-sizing: border-box;

  /* Auto layout */

  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 16px 20px;
  gap: 8px;

  height: 56px;

  /* interface/modal-bg */

  background: #1c1c21;
  /* interface/accent */

  /* border: 1px dashed #4c4cff; */
  border-radius: 40px;

  /* Inside auto layout */

  flex: none;
  order: 0;
  flex-grow: 0;

  text-decoration: none;
}

.light {
  color: #f2f2f3;
}

.aButtonDisable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #8585ad;
  padding: 20px;
}
.aButtonDisable svg {
  width: 24px;
  height: auto;
  box-sizing: border-box;
  display: block;
  fill: #8585ad;
}

.aButtonEnable {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  color: #ffffff;
  padding: 20px;
}
.aButtonEnable svg {
  width: 24px;
  height: auto;
  box-sizing: border-box;
  display: block;
  fill: #ffffff;
}
