.modal {
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 150;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 720px;
  width: 100%;
}
.modal_container {
  width: 100%;
  height: auto;
  background: #1c1c21;
  border: 1px solid rgba(76, 76, 255, 0.2);
  box-shadow: 0px 24px 32px rgba(0, 0, 0, 0.04), 0px 16px 24px rgba(0, 0, 0, 0.04), 0px 4px 8px rgba(0, 0, 0, 0.04),
    0px 0px 1px rgba(0, 0, 0, 0.04);
  border-radius: 40px;
  position: relative;
}
.modal_block {
  padding: 40px;
}
.modal_close {
  background-color: transparent;
  border: none;
  padding: 0;
  margin: 0;
  position: absolute;
  right: 40px;
  top: 60px;
  z-index: 200;
}
.modal_close svg {
  width: 24px;
  height: auto;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  display: block;
  fill: #ffffff;
  transition: ease-out 0.3s;
}
.modal_close:hover {
  cursor: pointer;
}
.modal_close:hover svg {
  fill: #4c4cff;
}
