.page404 {
  width: auto;
  height: 100%;
  margin-left: 40px;
  margin-right: 40px;
  margin-bottom: 40px;
  background-image: url(../../images/page404.png);
  background-repeat: no-repeat;
  background-position: center bottom;
  -webkit-background-size: cover;
  background-size: cover;
}
