.al_left {
  text-align: left;
}
.burger_ingredients {
  position: relative;
  width: 50%;
}

.burger_ingredients_groups {
  position: relative;
  display: flex;
  flex-direction: column;
  gap: 40px;
  overflow-x: hidden;
  overflow-y: scroll;
  max-height: calc(100vh - 390px);
  height: 100%;
}
