.ingredientsItem {
  position: relative;
  width: calc((100% / 2) - 12px);
}

.ingredientsItem_image {
  position: relative;
  width: calc((100% / 2) - 12px);
  text-align: center;
}
/*     
    &__image
        text-align: center
    &__price
        display: flex
        flex-direction: row
        justify-content: center
        align-items: center
        gap: 8px
        & svg
            width: 24px
            height: auto
            box-sizing: border-box
            display: block
    &__name
        text-align: center
    &__count */
