.container_grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-auto-rows: minmax(100px, auto);
  align-items: center;
  max-width: 1240px;
  margin-left: auto;
  margin-right: auto;
}

.left_col {
  display: flex;
  justify-content: start;
  gap: 8px;
  grid-column: 1/3;
  grid-row: 1;
  margin-left: 8px;
}

.centr_col {
  grid-column: 2/3;
  grid-row: 1;
}

.right_col {
  display: flex;
  justify-content: end;
  grid-column: 3/3;
  grid-row: 1;
  margin-right: 8px;
}
